
    
    <p >{{data}}</p>
    
    <input  type="text" value="{{data}}" > 
    
    <input type="teste" [value]="data" > 
    
    <input type="text" [value]="data" (input)="data = $event.target.value" />
    
    <input type="text" [ngModel]="data" (ngModelChange)="data = $event;" />
    
    <input type="text" [(ngModel)]="data" />
    
    <input type="text" bindon-ngModel="data" />


 <hr>
    <form>
        <input placeholder="nome" type="text">
        <input placeholder="sobrenome" type="text">
        <button type="submit">Submit</button>
    </form>
    
 
  